@{
    List<PurchasesItem> purchases = (List<PurchasesItem>)ViewData["purchases"];

    string date = (string)ViewData["date"];
    string nameOfUser = (string)ViewData["username"];
    string name = string.Format(nameOfUser.Substring(0, 1).ToUpper() + nameOfUser.Substring(1).ToLower());

    var grpByDate = from pur in purchases
                    where pur.PurchaseDate == date
                    select pur;

    int count = (int)ViewData["cartcount"];
    ViewData["title"] = "My Purchases";
}

@section Scripts {
    <script src="~/js/Gallery.js"></script>
}

<div class="gallery-header">
    <div class="greeting-div">
        <h3>Hello, @name</h3>
        @*<p><a href="/MyPurchases/Summary">My Purchases</a> | <a href="/Logout/Index">Logout</a></p>*@
    </div>
    <a href="/Cart/ShoppingCart" class="text-dark">
        <div class="cart-div">
            <img src="/Image/cart_logo.png" class="cart-logo"alt="Alternate Text" />
            <p id="count" class="cart-quantity">@count</p>
        </div>
    </a>
</div>
<br />
<h4>Purchase Details</h4>
<br />


<div class="container form-group">
    @{
        foreach (var purchase in grpByDate)
        {
            <form action="List" method="post">
                <div class="row form-group">
                    <div class="col-sm-4 border border-dark shadow p-3 mb-5 bg-white rounded text-center">
                        <img src="/Image/@String.Concat(purchase.product.ProductName.Substring(5),".png")" width="100" height="100">
                        <h3> @purchase.product.ProductName</h3>
                        <p>@purchase.product.Description</p>
                        <a class="btn btn-outline-primary btn-block" role="button" href="/Image/@String.Concat(purchase.product.ProductName.Substring(5),".png")" download>Download</a>
                    </div>
                    <div class="col-sm-8 p-5">
                        <p>Purchased On: @purchase.PurchaseDate</p>
                        <p>Quantity: @purchase.Quantity</p>
                        <p>Activation Code:</p>
                        @{
                            if (purchase.Quantity > 1)
                            {
                                <div>
                                    <select class="form-control form-control-sm" name="actCode">
                                        @foreach (string ac in purchase.ActivationCode)
                                        {
                                            <option>@ac</option>
                                        }
                                    </select>
                                    <br />
                                </div>
                            }
                            else
                            {
                                @purchase.ActivationCode[0];
                                <br />
                                <br />
                            }
                        }
                        <button id=@purchase.product.Id type="button" class="@purchase.product.ProductName btn btn-outline-secondary btn-sm add-to-cart">Buy Again</button>
                    </div>
                </div>
            </form>
        }
    }
</div>



