@{
    List<PurchaseHistory> phList = (List<PurchaseHistory>)ViewData["phList"];
    List<Product> productList = (List<Product>)ViewData["productList"];

    var grpByProduct = from ph in phList
                       group ph by ph.ProductId; 

    ViewData["title"] = "My Purchases";
}


<h2>My Purchases - Details</h2>
<br />
<br />

<table border="0" cellpadding="20">
    <tr>
        <th>[Product Image / Name / Desc]</th>
        <th>[Purchased Date / Quantity / Actv Code]</th>
    </tr>
    @{
        foreach (var grp in grpByProduct)
        {
            Product currProduct = null;
            for (int i = 0; i < productList.Count(); i++)
            {
                if (grp.Key == productList[i].Id)
                {
                    currProduct = productList[i];
                }
            }
            <tr>
                <td align="center">
                    <img src="/Image/@String.Concat(currProduct.ProductName.Substring(5),".png")" width="100" height="100">
                    <br />
                    @currProduct.ProductName
                    <br />
                    @currProduct.Description
                    <br />
                    <button class="btn btn-primary btn-block">Download</button>
                </td>
                <td valign="middle">
                    Purchased On: @grp.FirstOrDefault(x => x.ProductId == currProduct.Id).PurchaseDate.ToShortDateString() 
                    <br />
                    Quantity: @grp.Count()
                    <br />
                    Activation Code:
                    @{
                        if (grp.Count() > 1)
                        {
                            <div>
                                <select name="actCode">
                                    @foreach(var g in grp)
                                    {
                                        <option>@g.ActivationCode</option>
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            @grp.FirstOrDefault(x => x.ProductId == currProduct.Id).ActivationCode
                        }   
                    }

                    
                </td>
            </tr>
        }
    }
</table>