@{ List<Product> products = (List<Product>)ViewData["products"];
    List<Product> boughtList = (List<Product>)ViewData["boughtList"];
    List<Product> recList = (List<Product>)ViewData["recList"];


    var grpByProduct = from ph in boughtList
                       group ph by ph.ProductName;

    Cart cart = (Cart)ViewData["cart"];
    string nameOfUser = (string)ViewData["username"];
    int count = (int)ViewData["cartcount"];

    ViewData["title"] = "Recommendations";

    //added
    string sessionId = (string)ViewData["sessionId"];
    }

@section Scripts {
<script src="~/js/Gallery.js"></script>
}

<div class="gallery-header">
    <div class="greeting-div">
        <h3>Hello, @nameOfUser</h3>
        @*<p><a href="/MyPurchases/Summary?sessionId=@sessionId">My Purchases</a> | <a href="/Logout/Index">Logout</a></p>*@
    </div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ShoppingCart">
        <div class="cart-div">
            <img src="../image/cart_logo.png" class="cart-logo" alt="Alternate Text" />
            <p id="count" class="cart-quantity">@count</p>
        </div>
    </a>
</div>


        <h1 class="medium">Because you bought</h1>

        <div class="rec-card-container">
            @{
                foreach (var grp in grpByProduct)
                {
                    Product currProduct = null;
                    for (int i = 0; i < boughtList.Count(); i++)
                    {
                        if (grp.Key == boughtList[i].ProductName)
                        {
                            currProduct = boughtList[i];
                        }
                    }

                    <div class="rec-card">

                        <img src="/Image/@String.Concat(currProduct.ProductName.Substring(5),".png")" alt="">

                        <h3>@currProduct.ProductName</h3>
                        <p>@currProduct.Description</p>


                    </div> }
            }
        </div>

        <h1 class="medium">You may also be interested in...</h1>

        <div class="scrolling-wrapper">
            <div class="rec-card-container">
                @{
                    foreach (var product in recList)
                    {
                
                        <div class="rec-card">

                            <img src="@product.imageUrl" alt="">

                            <h3>@product.ProductName</h3>
                            <p>@product.Description</p>



                            <button id=@product.Id class="@product.ProductName add-to-cart" type="button" onclick=""><span>$@product.Price</span> - Add to cart</button>

                        </div>
                    }
                }
            </div>
        </div>


