@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ List<Product> ProductList = (List<Product>)ViewData["ProductList"];
    List<int> QuantityList = (List<int>)ViewData["QuantityList"];
    string tp = (string)ViewData["tp"];
    double totalprice = double.Parse(tp); }

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Viewcart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:blue" class="nav-link" asp-area="" asp-controller="Cart" asp-action="ContinueShopping"><u>Continue Shopping</u></a>
                        </li>
                        <li class="nav-item">
                            <a style="color:black" class="nav-link" asp-area="">|</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:blue" class="nav-link" asp-area="" asp-controller="Cart" asp-action="Checkout"><u>Checkout</u></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <p align="right" class="tp" id="price-product"> Total: $ @totalprice</p>

   
       @{ for (int i = 0; i < ProductList.Count(); i++)
            {
                <form action="ShoppingCart" method="post">
                    <div class="product_details">
                        <div class=" image">
                            <img src="@ProductList[i].imageUrl" alt="">

                        <h3>@ProductList[i].ProductName</h3>
                        <h4>@ProductList[i].Description</h4>
                        </div>
                    <div class="price_quantity">
                         <p><span class="price" id="per-price">Price: &ensp;&emsp;$@ProductList[i].Price</span> </p>
            
                        <div class="btn-numbox">
                            <p class="number">Quantity:</p>
                            <button type="submit" formaction="ShoppingCart?clickedBtn=r-@ProductList[i].Id">-</button>
                            <p><input type="text" class="input-num" id="input-num" value="@QuantityList[i]" /></p>
                            <button type="submit" formaction="ShoppingCart?clickedBtn=a+@ProductList[i].Id">+</button>
                        </div>       
                    </div>
                    </div>
</form> } }
</body>
